html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.account {
  position: absolute;
  right: 0;
  top: 0;
  background-color: blanchedalmond;
  color: white;
  padding: 12.5px;
  cursor: pointer;
}
